body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFAF7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
  }

  main {
    text-align: center;
    margin-top: 100px;
  }

  h1 {
    font-size: 50px;
    margin-bottom: 30px;
    color: #333;
  }

  h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #555;
  }
header {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      background-color: #F9C9BD;
    }
    header a.logo-link {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: inherit;
      margin-right: 20px;
    }

	header img {
      height: 32px;
      margin-right: 8px;
    }
    header h1 {
      font-size: 20px;
      margin: 0;
	}

	nav {
      background-color: #FDD8CF;
      padding: 10px 20px;
    }
    nav a {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
	  font-size: 18px;
      text-decoration: none;
      color: #333;
	}

  .social-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
  }

  .social-links a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
  }

  .social-links img {
    width: 50px;
    height: 50px;
    margin-bottom: 8px;
  }

  .contact {
    font-size: 20px;
  }

  .contact a {
    color: blue;
    text-decoration: underline;
  }
