@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body {
      font-family: 'Raleway', sans-serif;
      margin: 0;
      margin-top: 0;
      padding: 0;
      background-color: #FFFAF7;
      white-space: normal;
    }

    h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 70px;
	  font-weight: 500;
	  margin: 10px;
    }
    p {
      font-size: 40px;
      font-weight: 300;
	  margin: 10px;
    }

    header {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      background-color: #F9C9BD;
    }
    header a.logo-link {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: inherit;
      margin-right: 20px;
    }

	header img {
      height: 32px;
      margin-right: 8px;
    }
    header h1 {
      font-size: 20px;
      margin: 0;
	}

	nav {
      background-color: #FDD8CF;
      padding: 10px 20px;
    }
    nav a {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
	  font-size: 18px;
      text-decoration: none;
      color: #333;
	}

  .social-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
  }

  .social-links a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
  }

  .social-links img {
    width: 50px;
    height: 50px;
    margin-bottom: 8px;
  }

  .contact {
    font-size: 20px;
  }

  .contact a {
    color: blue;
    text-decoration: underline;
  }
