@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https:///fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body {
      font-family: Raleway;
      margin: 120px;
      margin-top: 0;
      padding: 0;
      background-color: FFFAF7;
      white-space: normal;
    }

    h1 {
      font-family: Montserrat;
      font-size: 70px;
	  weight: 500;
      opacity: 0;
      transform: translateY(20px);
      animation: fadeUp 1s ease forwards;
    }
    p {
      font-size: 40px;
      font-weight: 300;
      opacity: 0;
      transform: translateY(20px);
      animation: fadeUp 1s ease forwards;
    }

  nav {
      background-color: #FDD8CF;
      padding: 10px 20px;
    }
    nav a {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
	  font-size: 18px;
      text-decoration: none;
      color: #333;
    }
  
    header {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      background-color: #F9C9BD;
    }

  /* Основний блок */
  .card {
    margin: 50px auto 25px;         
    max-width: calc(100% - 6cm); 
    border: 1px solid black;   
    padding: 1cm;           
    box-sizing: border-box;
    gap: 10px;
  }

  /* Вміст*/
  .content {
    display: flex;
    align-items: flex-start;
    gap: 1cm;
  }

  /* Фото */
  .content img {
    width: 12.5vw;
    height: auto;
  }

  /* Текстова частина */
  .text h2 {
    margin: 0 0 10px 0;
  }

  .text p {
    margin: 0 0 10px 0;
  }

  .text a {
    color: blue;
    text-decoration: underline;
  }
