@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https:///fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body {
      font-family: Raleway;
      margin: 120px;
      margin-top: 0;
      padding: 0;
      background-color: FFFAF7;
      white-space: normal;
    }

    h1 {
      font-family: Montserrat;
      font-size: 70px;
	  weight: 500;
      opacity: 0;
      transform: translateY(20px);
      animation: fadeUp 1s ease forwards;
    }
    p {
      font-size: 40px;
      font-weight: 300;
      opacity: 0;
      transform: translateY(20px);
      animation: fadeUp 1s ease forwards;
    }

    header {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      background-color: #F9C9BD;
    }
	nav {
      background-color: #FDD8CF;
      padding: 10px 20px;
    }
    nav a {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
	  font-size: 18px;
      text-decoration: none;
      color: #333;
	}

  .hero-block {
    margin: 50px auto 25px;
    max-width: calc(100% - 6cm);
    padding: 1cm;
    border: 1px solid black;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 10px;
    height: 300px; 
  }

  /Фон/
  .hero-block img.background {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  /Затемнення/
  .hero-block::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0);
    transition: background 0.3s ease;
    z-index: 1;
  }

  .hero-block:hover::before {
    background: rgba(0,0,0,0.4);
  }

  /текст overlay/
  .hero-text {
    position: relative;
    z-index: 2;
    color: white;
    font-size: 2em;
    font-weight: bold;
    margin-left: 20px; 
  }
