@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body {
      font-family: 'Raleway', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #FFFAF7;
      white-space: normal;
    }

    h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 70px;
	font-weight: 500;
    }
    p {
      font-size: 40px;
      font-weight: 300;
    }

    header {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      background-color: #F9C9BD;
    }
    header a.logo-link {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: inherit;
      margin-right: 20px;
    }

    header img {
      height: 32px;
      margin-right: 8px;
    }
    header h1 {
      font-size: 20px;
      margin: 0;
    }

    nav {
      display: flex;
      align-items: center;
      background-color: #F9C9BD;
      padding: 10px 20px;
      border-bottom: 1px solid #ddd;
    }
    nav a {
      margin-right: 15px;
      text-decoration: none;
      color: #333;
    }
    .intro-img {
      flex: 1;
    }
    .intro-img img {
      margin: auto;
      width: 70%;
      padding: 10px;
      border: 5px solid #ccc;
      display: block;
    }
    main {
      padding: 20px 40px;
    }

    section {
      margin-bottom: 30px;
    }
    h1 {
      font-size: 52px;
    }
    h2 {
      font-size: 40px;
      color: #333;
    }

    p {
      font-size: 30px;
      line-height: 1.6;
    }
    .media {
     display: flex;
     gap: 15px; 
     }
    .media img {
     width: 750px;
     height: 550px;
     }
    .video-wrapper {
    position: relative;
    padding-bottom: 56.25%; 
    height: 500;
    overflow: hidden;
    max-width: 800px;
    margin: 0 auto;
    }

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 65%;
}

.map {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

/*Основний блок*/
  .gallery {
    background-color: #F9C9BD;    
    margin: 25px;                  
    padding: 20px;                  
    border: 1px solid black;       
    display: flex;
    gap: 8px;                    
  }

  /*Підблок*/
  .tile {
    background-color: #FDD8CF;
    border: 1px solid black;
    text-align: center;
    padding: 7px;                  
    flex: 1;                        
    box-sizing: border-box;
  }

  /*Фото*/
  .tile img {
    width: 100%;
	height: 200px;    
	object-fit: cover;   
	display: block;
	margin: 0 auto;
  }

  /*Підпиc*/
  .caption {
    margin-top: 20px;
    margin-bottom: 8px;
    font-weight: bold;
  }
