@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body {
      font-family: 'Raleway', sans-serif;
      margin: 0;
      margin-top: 0;
      padding: 0;
      background-color: #FFFAF7;
      white-space: normal;
    }

    h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 70px;
	  font-weight: 500;
    }
    p {
      font-size: 40px;
      font-weight: 300;
    }

    header {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      background-color: #F9C9BD;
    }
    header a.logo-link {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: inherit;
      margin-right: 20px;
    }

	header img {
      height: 32px;
      margin-right: 8px;
    }
    header h1 {
      font-size: 20px;
      margin: 0;
	}

	nav {
      background-color: #FDD8CF;
      padding: 10px 20px;
    }
    nav a {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
	  font-size: 18px;
      text-decoration: none;
      color: #333;
	}

  .hero-block {
    margin: 50px auto 25px;
    max-width: calc(100% - 6cm);
    padding: 1cm;
    border: 1px solid black;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 10px;
    height: 300px; 
  }

  /*Фон*/
  .hero-block img.background {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  /*Затемнення*/
  .hero-block::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0);
    transition: background 0.3s ease;
    z-index: 1;
  }

  .hero-block:hover::before {
    background: rgba(0,0,0,0.4);
  }

  /*текст overlay*/
  .hero-text {
    position: relative;
    z-index: 2;
    color: white;
    font-size: 2em;
    font-weight: bold;
    margin-left: 20px; 
  }
/*Футер*/
.site-footer {
  background-color: #F9C9BD;
  padding: 30px;
}

.footer-container {
  display: flex;
  align-items: flex-start;
}

.footer-col {
  display: flex;
  flex-direction: column;
}

/* Перша колонка */
.footer-main {
  width: 35%;
}

/* Відстані між колонками */
.footer-nav {
  margin-left: 60px;
}

.footer-contact {
  margin-left: 40px;
}

/* Заголовки */
.footer-main h3,
.footer-nav h4,
.footer-contact h4 {
  margin-bottom: 15px;
}

/* Соцмережі */
.social-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.social-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-item img {
  width: 32px;
  height: 32px;
}


.footer-nav a,
.footer-contact p,
.footer-contact a {
  font-size: 16px;
}

/* Посилання */
.footer-nav a,
.footer-contact a,
.social-item a {
  color: #000;
  text-decoration: none;
}

.footer-nav a:hover,
.footer-contact a:hover,
.social-item a:hover {
  text-decoration: underline;
}
