@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body {
      font-family:  'Raleway', sans-serif;;
      margin: 0 120px;
      padding: 0;
      background-color: #FFFAF7;
      white-space: normal;
    }

    h1 {
      font-family: 'Montserrat', sans-serif;;
      font-size: 70px;
	  font-weight: 500;
    }
    p {
      font-size: 40px;
      font-weight: 300;
    }

    header {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      background-color: #F9C9BD;
    }
    header img {
      height: 45px;
      margin-right: 10px;
    }

    nav {
      background-color: #FDD8CF;
      padding: 10px 20px;
    }
    nav a {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
	  font-size: 18px;
      text-decoration: none;
      color: #333;
    }

    main {
      padding: 20px 40px;
    }

    .intro {
      display: flex;
      align-items: flex-start;
      margin-bottom: 30px;
    }
    .intro-text {
      flex: 2;
      margin-right: 20px;
    }
    .intro-img {
      flex: 1;
    }
    .intro-img img {
      height: 1080px;
      width: 530px;
      border: 8px solid #ccc;
    }

    .list{
        list-style:none;
        padding:0;
    }
    .list li {
        display: flex;
        align-items: flex-start;
        gap: 15px;
        margin-bottom: 20px;
    }
    
    .list img {
	width: 690px;
	height: 510px;
	margin-right: 15px;
    }
	  


/*Блок з текстом*/
  .center-block {
    width: 50%;
    margin: 0 auto;
	height: 100vh;  
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  /*смуги*/
  .line {
    width: 100%;
    height: 3px;
    background-color: black;
  }

  /*Текст*/
  .block-text {
    margin: 30px 0;          
    font-size: 40px;
    font-style: italic;        
    text-align: center;
  }

/* 3 колоноки */
.info-block {
  margin: 30px;
  border: 1px solid #000;
  padding: 20px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* заголовок на всю ширину */
.info-block h2 {
  grid-column: 1 / -1;
  text-align: center;
  margin-bottom: 20px;
}

/* кожен елемент */
.info-row {
  text-align: center;
}

.info-row img {
  width: 220px;
  height: 420px;
  object-fit: cover;
  display: block;
  margin: 0 auto 10px;
}

.info-row a {
  text-decoration: none;
  font-size: 16px;
  color: #000;
}

.info-row a:hover {
  text-decoration: underline;
}

/*Футер*/
.site-footer {
  background-color: #F9C9BD;
  padding: 30px;
}

.footer-container {
  display: flex;
  align-items: flex-start;
}

.footer-col {
  display: flex;
  flex-direction: column;
}

/* Перша колонка*/
.footer-main {
  width: 35%;
}

/* Відстані між колонками */
.footer-nav {
  margin-left: 60px;
}

.footer-contact {
  margin-left: 40px;
}

.footer-main h3,
.footer-nav h4,
.footer-contact h4 {
  margin-bottom: 15px;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}

.social-icons img {
  width: 32px;
  height: 32px;
}

.social-links a,
.footer-nav a,
.footer-contact a {
  color: #000;
  text-decoration: none;
  margin-bottom: 6px;
}

.social-links a:hover,
.footer-nav a:hover,
.footer-contact a:hover {
  text-decoration: underline;
}
