 body {
      font-family: Raleway;
      margin: 120px;
      margin-top: 0;
      padding: 0;
      background-color: FFFAF7;
      white-space: normal;
    }

    h1 {
      font-family: Montserrat;
      font-size: 70px;
	  weight: 500;
      opacity: 0;
      transform: translateY(20px);
      animation: fadeUp 1s ease forwards;
    }
    p {
      font-size: 40px;
      font-weight: 300;
      opacity: 0;
      transform: translateY(20px);
      animation: fadeUp 1s ease forwards;
    }

    header {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      background-color: #F9C9BD;
    }
    header img {
      height: 45px;
      margin-right: 10px;
      opacity: 0;
      transform: translateY(20px);
      animation: fadeUp 1s ease forwards;
    }

    nav {
      background-color: #FDD8CF;
      padding: 10px 20px;
    }
    nav a {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
	  font-size: 18px;
      text-decoration: none;
      color: #333;
    }

    main {
      padding: 20px 40px;
    }

    .intro {
      display: flex;
      align-items: flex-start;
      margin-bottom: 30px;
    }
    .intro-text {
      flex: 2;
      margin-right: 20px;
    }
    .intro-img {
      flex: 1;
    }
    .intro-img img {
      height: 1080px;
      width: 530px;
      border: 8px solid #ccc;
    }

    

    .list{
        list-style:none;
        padding:0;
    }
    .list li {
        display: flex;
        align-items: flex-start;
        gap: 15px;
        margin-bottom: 20px;
    }
    
    .list img {
	width: 690px;
	height: 510px;
	margin-right: 15;
    }
	  
//Перемикач теми
button {
    display: block;
    margin-left: 20px;
    margin-right: auto;
    padding: 30px;
}

body.dark {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark button {
    background-color: #333;
    color: #fff;
	}


//Блок з текстом
  .center-block {
    width: 33.33%;           
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  /смуги/
  .line {
    width: 100%;
    height: 3px;
    background-color: black;
  }

  /Текст/
  .block-text {
    margin: 50px 0;          
    font-size: 40px;
    font-style: italic;        
    text-align: center;
  }

    @keyframes fadeUp {
      from {opacity: 0; transform: translateY(20px);}
      to {opacity: 1; transform: translateY(0);}
    }
